$form__prefix: 'sad-lead-form-' !default;
$form__margin: .9rem !default;
$form__padding: .6rem !default;
$form__select_size: 12px !default;
$form__control_size: 20px !default;
$form__radius: 0 !default;
$form__svg: #000 !default;
$form__color: #000 !default;
$form__placeholder: #999 !default;
$form__background: #fff !default;
$form__border: #bbb !default;
$form__active: #17f !default;
$form__shadow: inset 0 1px 3px rgba(0, 0, 0, .05) !default;
$form__duration: .3s !default;
$form__timing: ease !default;
